@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face {
    font-family: BOOTERFF;
    src: url("fonts/BOOTERFF.ttf") format("tff"), 
         url("fonts/BOOTERFF.ttf");
} 

.studio-name {
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, .3);
}

.main-header{
    background-color: rgba(0, 0, 0, .4);
    background-image: url(pictures/bga.png);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 10px;
}

.studio-name {
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
    font-family: BOOTERFF;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.gbs {
    color: #333;
    text-align: center;
}

.pic {
    height: 150px;
    width: 150px;
    margin: 15px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.mf {
    background-color: #56ccf2;
    color: white;
    padding: .25em 0;
}

.mfc {
    display: flex;
    align-items: center;
}

.mfc ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.sib {
    color: #56ccf2;
}

.shop-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}